<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Edit {{editUser?.firstName}} {{editUser?.lastName}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="">
        <form #editUserForm="ngForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" required [(ngModel)]="editUser.firstName" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" required [(ngModel)]="editUser.lastName" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" required [(ngModel)]="editUser.username" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" required [(ngModel)]="editUser.email" class="form-control form-control-sm">
            </div>
            <div class="form-group">
                <label for="authority">Role</label>
                <select name="role" required [(ngModel)]="editUser.role" class="form-select form-select-sm">
                    <option value="ROLE_ADMIN">ADMIN</option>
                    <option value="ROLE_USER">USER</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid" class="btn btn-secondary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp; Save changes</button>
</div>