<button class="button-img" [matMenuTriggerFor]="userMenu">
  <i class="fa fa-user" aria-hidden="true"></i>
</button>
<mat-menu #userMenu="matMenu" xPosition="before">
    <div class="user-menu-title">
        <h4 class="user-menu-title__name">{{user?.firstName}} {{user?.lastName}}</h4>
    </div>
    <button mat-menu-item class="user-menu__item-title" (click)="userProfileEmit()">
    <mat-icon class="user-menu-icon">person</mat-icon>Profile
  </button>
    <div class="sign-button-wrapper">
        <button class="sign-button" mat-flat-button (click)="signOutEmit()">Sign out</button>
    </div>
</mat-menu>